src/main/mule/scattergather12.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="375b7610-00b4-4ee0-b4a2-0e24260bdde1" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<flow name="scattergather123Flow" doc:id="66d73ac6-d15f-437a-99b7-1b0a1cc1b498" >
		<http:listener doc:name="Listener" doc:id="62a5e93e-3cf9-45f1-a659-c866106bf40e" config-ref="HTTP_Listener_config" path="/cicd1"/>
		<ee:transform doc:name="Transform Message" doc:id="f6ba4ffd-4d9f-4ff4-9727-a6412095c128" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	response:"first deployment"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="026b1f6e-77f8-4fba-b001-7e469de23d86" message="#[payload]"/>
	</flow>
</mule>
